.content{
    background-color: whitesmoke;
    /* border: 1px solid red; */
    padding-top: 5px;
    padding-bottom: 4px;
}

.containerRow1{
    display: flex;
    /* border:2px solid red; */
    margin-left: 20px;
    margin-right: 20px;
    height: 270px;
    justify-content:space-between;
    align-items: center;
    padding: 11px;

}

.containerRow2{
    display: flex;
    /* border:2px solid blue; */
    margin-left: 20px;
    margin-right: 20px;
    height: 270px;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
}

.category-block{
    width: 210px;
    height: 220px;
    /* border:1px solid black; */
    margin: 10px 10px; 
    border-radius: 20px;
    background-color: whitesmoke;
    position: relative;
    /*display: flex;*/
}

.category-block img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 70%;
    /* border: 1px solid red; */
    filter: brightness(0.5)
    /*box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);*/
}

.category-block img:hover {
}

.category-block a{
    text-decoration: none;
}

.catName{
    padding-top: 5px;
    text-align:center;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 22.5%;
    width: 100%;
    display:flex;
    justify-content: center;
    /* border: 1px solid blue;
    justify-content: center;
    display: flex; */
    font-family: 'Futura', cursive;
}

.catName:hover{
    font-size: 1.55rem;
}
