.footer{
    display:flex;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    /* border: 1px solid red; */
    height: 54px;
    background-color: #424656;
}

.footer a {
    text-decoration: none;
    color: white;
}

.lang{
    height: 30px;
    width: 100px;
    cursor: pointer;
}

