.header_container{
    /* border: 1px solid red; */
    width: 455px;
    height: 190px;
}

.header_container > a:link {
    color: #4f4f4f;
}

.header_container > a:hover {
    color: #000000;
}

.header_container > a:visited {
    color: #bababa;
    /*color: red;*/
}

